.header {
  width: 100%;
  height: 150px;
  background-color: #23527c;
  display: flex;

  align-items: center;
  justify-content: center;

  input {
    width: 400px;
    height: 50px;
    padding-left: 8px;
  }
}

.iconsGrid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;

  svg {
    width: 150px;
    height: 150px;
  }

  .iconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #23527c;
    gap: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    padding: 20px;
  }
}
